[flake8]
ignore =
    W292, # no newline at end of file
    W293, # blank line contains whitespace
    W391, # blank line at end of file
    W503, # line break before binary operator
    W504  # line break after binary operator
statistics = True
max-line-length = 88
