# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
.python-version

# pipenv
#   According to pypa/pipenv#598, it is recommended to include Pipfile.lock in version control.
#   However, in case of collaboration, if having platform-specific dependencies or dependencies
#   having no cross-platform support, pipenv may install dependencies that don't work, or not
#   install all needed dependencies.
#Pipfile.lock

# PEP 582; used by e.g. github.com/David-OConnor/pyflow
__pypackages__/

# Celery stuff
celerybeat-schedule
celerybeat.pid

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

# Vscode
.vscode

# Tests
tests/temp
/examples/modflow_msw_dfm_simulation/dflowfm_dll/cilkrts20.dll
/examples/modflow_msw_dfm_simulation/dflowfm_dll/concrt140.dll
/examples/modflow_msw_dfm_simulation/dflowfm_dll/dflowfm.dll
/examples/modflow_msw_dfm_simulation/dflowfm_dll/dflowfm_dll.7z
/examples/modflow_msw_dfm_simulation/dflowfm_dll/ec_module.dll
/examples/modflow_msw_dfm_simulation/dflowfm_dll/expat.dll
/examples/modflow_msw_dfm_simulation/dflowfm_dll/fmpich2.dll
/examples/modflow_msw_dfm_simulation/dflowfm_dll/fmpich2g.dll
/examples/modflow_msw_dfm_simulation/dflowfm_dll/fmpich2s.dll
/examples/modflow_msw_dfm_simulation/dflowfm_dll/freexl.dll
/examples/modflow_msw_dfm_simulation/dflowfm_dll/gdal300.dll
/examples/modflow_msw_dfm_simulation/dflowfm_dll/geos.dll
/examples/modflow_msw_dfm_simulation/dflowfm_dll/geos_c.dll
/examples/modflow_msw_dfm_simulation/dflowfm_dll/gridgeom.dll
/examples/modflow_msw_dfm_simulation/dflowfm_dll/hdf.dll
/examples/modflow_msw_dfm_simulation/dflowfm_dll/hdf5.dll
/examples/modflow_msw_dfm_simulation/dflowfm_dll/hdf5_cpp.dll
/examples/modflow_msw_dfm_simulation/dflowfm_dll/hdf5_hl.dll
/examples/modflow_msw_dfm_simulation/dflowfm_dll/hdf5_hl_cpp.dll
/examples/modflow_msw_dfm_simulation/dflowfm_dll/hdf5_tools.dll
/examples/modflow_msw_dfm_simulation/dflowfm_dll/iconv.dll
/examples/modflow_msw_dfm_simulation/dflowfm_dll/ifdlg100.dll
/examples/modflow_msw_dfm_simulation/dflowfm_dll/io_netcdf.dll
/examples/modflow_msw_dfm_simulation/dflowfm_dll/irlog2rlog.exe
/examples/modflow_msw_dfm_simulation/dflowfm_dll/jpeg.dll
/examples/modflow_msw_dfm_simulation/dflowfm_dll/libchkp.dll
/examples/modflow_msw_dfm_simulation/dflowfm_dll/libcurl.dll
/examples/modflow_msw_dfm_simulation/dflowfm_dll/libexpat.dll
/examples/modflow_msw_dfm_simulation/dflowfm_dll/libicaf.dll
/examples/modflow_msw_dfm_simulation/dflowfm_dll/libifcoremd.dll
/examples/modflow_msw_dfm_simulation/dflowfm_dll/libifcoremdd.dll
/examples/modflow_msw_dfm_simulation/dflowfm_dll/libifcorert.dll
/examples/modflow_msw_dfm_simulation/dflowfm_dll/libifcorertd.dll
/examples/modflow_msw_dfm_simulation/dflowfm_dll/libifportmd.dll
/examples/modflow_msw_dfm_simulation/dflowfm_dll/libioffload_host.dll
/examples/modflow_msw_dfm_simulation/dflowfm_dll/libiomp5md.dll
/examples/modflow_msw_dfm_simulation/dflowfm_dll/libiompstubs5md.dll
/examples/modflow_msw_dfm_simulation/dflowfm_dll/libirngmd.dll
/examples/modflow_msw_dfm_simulation/dflowfm_dll/libmmd.dll
/examples/modflow_msw_dfm_simulation/dflowfm_dll/libmmdd.dll
/examples/modflow_msw_dfm_simulation/dflowfm_dll/libmpx.dll
/examples/modflow_msw_dfm_simulation/dflowfm_dll/libmysql.dll
/examples/modflow_msw_dfm_simulation/dflowfm_dll/liboffload.dll
/examples/modflow_msw_dfm_simulation/dflowfm_dll/libpetsc.dll
/examples/modflow_msw_dfm_simulation/dflowfm_dll/libpq.dll
/examples/modflow_msw_dfm_simulation/dflowfm_dll/libxml2.dll
/examples/modflow_msw_dfm_simulation/dflowfm_dll/mfhdf.dll
/examples/modflow_msw_dfm_simulation/dflowfm_dll/mkl_avx.dll
/examples/modflow_msw_dfm_simulation/dflowfm_dll/mkl_avx2.dll
/examples/modflow_msw_dfm_simulation/dflowfm_dll/mkl_avx512.dll
/examples/modflow_msw_dfm_simulation/dflowfm_dll/mkl_core.dll
/examples/modflow_msw_dfm_simulation/dflowfm_dll/mkl_def.dll
/examples/modflow_msw_dfm_simulation/dflowfm_dll/mkl_intel_thread.dll
/examples/modflow_msw_dfm_simulation/dflowfm_dll/mpe.dll
/examples/modflow_msw_dfm_simulation/dflowfm_dll/mpich2.dll
/examples/modflow_msw_dfm_simulation/dflowfm_dll/mpich2mpe.dll
/examples/modflow_msw_dfm_simulation/dflowfm_dll/mpich2mpi.dll
/examples/modflow_msw_dfm_simulation/dflowfm_dll/mpich2mt.dll
/examples/modflow_msw_dfm_simulation/dflowfm_dll/mpich2mtp.dll
/examples/modflow_msw_dfm_simulation/dflowfm_dll/mpich2nemesis.dll
/examples/modflow_msw_dfm_simulation/dflowfm_dll/mpich2nemesisp.dll
/examples/modflow_msw_dfm_simulation/dflowfm_dll/mpich2p.dll
/examples/modflow_msw_dfm_simulation/dflowfm_dll/mpiexec.exe
/examples/modflow_msw_dfm_simulation/dflowfm_dll/msvcp100.dll
/examples/modflow_msw_dfm_simulation/dflowfm_dll/msvcp110.dll
/examples/modflow_msw_dfm_simulation/dflowfm_dll/msvcp120.dll
/examples/modflow_msw_dfm_simulation/dflowfm_dll/msvcp140.dll
/examples/modflow_msw_dfm_simulation/dflowfm_dll/msvcp90.dll
/examples/modflow_msw_dfm_simulation/dflowfm_dll/msvcr100.dll
/examples/modflow_msw_dfm_simulation/dflowfm_dll/msvcr110.dll
/examples/modflow_msw_dfm_simulation/dflowfm_dll/msvcr120.dll
/examples/modflow_msw_dfm_simulation/dflowfm_dll/msvcr90.dll
/examples/modflow_msw_dfm_simulation/dflowfm_dll/nccopy.exe
/examples/modflow_msw_dfm_simulation/dflowfm_dll/ncdump.exe
/examples/modflow_msw_dfm_simulation/dflowfm_dll/ncgen.exe
/examples/modflow_msw_dfm_simulation/dflowfm_dll/ncgen3.exe
/examples/modflow_msw_dfm_simulation/dflowfm_dll/netcdf.dll
/examples/modflow_msw_dfm_simulation/dflowfm_dll/openjp2.dll
/examples/modflow_msw_dfm_simulation/dflowfm_dll/proj.dll
/examples/modflow_msw_dfm_simulation/dflowfm_dll/proj_6_1.dll
/examples/modflow_msw_dfm_simulation/dflowfm_dll/pthreadGC2.dll
/examples/modflow_msw_dfm_simulation/dflowfm_dll/pthreadVC2.dll
/examples/modflow_msw_dfm_simulation/dflowfm_dll/readme.txt
/examples/modflow_msw_dfm_simulation/dflowfm_dll/smpd.exe
/examples/modflow_msw_dfm_simulation/dflowfm_dll/spatialite.dll
/examples/modflow_msw_dfm_simulation/dflowfm_dll/sqlite3.dll
/examples/modflow_msw_dfm_simulation/dflowfm_dll/svml_dispmd.dll
/examples/modflow_msw_dfm_simulation/dflowfm_dll/tclkitsh852.exe
/examples/modflow_msw_dfm_simulation/dflowfm_dll/tecio.dll
/examples/modflow_msw_dfm_simulation/dflowfm_dll/vccorlib110.dll
/examples/modflow_msw_dfm_simulation/dflowfm_dll/vccorlib120.dll
/examples/modflow_msw_dfm_simulation/dflowfm_dll/vccorlib140.dll
/examples/modflow_msw_dfm_simulation/dflowfm_dll/vcomp140.dll
/examples/modflow_msw_dfm_simulation/dflowfm_dll/vcruntime140.dll
/examples/modflow_msw_dfm_simulation/dflowfm_dll/wmpiconfig.exe
/examples/modflow_msw_dfm_simulation/dflowfm_dll/wmpiexec.exe
/examples/modflow_msw_dfm_simulation/dflowfm_dll/wmpiregister.exe
/examples/modflow_msw_dfm_simulation/dflowfm_dll/xdr.dll
/examples/modflow_msw_dfm_simulation/dflowfm_dll/xerces-c_3_2.dll
/examples/modflow_msw_dfm_simulation/dflowfm_dll/zlib1.dll
