[project]
name = "imod_coupler"
version = "0.1.0"
authors = ["Hofer-Julian <julianhofer@gnome.org>"]
channels = ["conda-forge"]
platforms = ["win-64", "linux-64"]

[system-requirements]
linux = "4.4.0"

[tasks]
# Install
install-ribasim-api = "pip install git+https://github.com/Deltares/Ribasim.git/#subdirectory=python/ribasim_api"
install-imodc = "pip install --no-deps --editable ."
install-minimal = { depends_on = ["install-ribasim-api", "install-imodc"] }
# Build
build-imod-coupler = "rm -rf dist && pyinstaller imod_coupler/__main__.py --name imodc"

[dependencies]
netCDF4 = "*"
loguru = "*"
numpy = "<2.0"
imod = ">=0.18.0"
pip = "*"
pydantic = "2.*"
pyinstaller = "*"
python = ">=3.10"
scipy = "*"
tomli = "*"
tomli-w = "*"
xmipy = "*"

#[pypi-dependencies]
#ribasim = {git = "https://github.com/Deltares/Ribasim.git/#subdirectory=python/ribasim"}

[feature.common.tasks]
# Install
install-ribasim-python = "pip install git+https://github.com/Deltares/Ribasim.git/#subdirectory=python/ribasim"
install-ribasim-testmodels = "pip install git+https://github.com/Deltares/Ribasim.git/#subdirectory=python/ribasim_testmodels"
install-primod = "pip install --no-deps --editable pre-processing"
install-metaswap-testmodels = "svn checkout https://repos.deltares.nl/repos/DSCTestbench/trunk/cases/e150_metaswap/f00_common/c00_common/LHM2016_v01vrz .imod_collector/e150_metaswap"
install-imod-collector = "python scripts/download_imod_collector.py"
install-imod-collector-regression = "python scripts/download_imod_collector.py regression"
generate-env-file = "python scripts/generate_env_file.py"
install = { depends_on = [
    "install-minimal",
    "install-ribasim-testmodels",
    "install-primod",
] }

update-git-dependencies = """pip install --upgrade --force-reinstall --no-deps
                             git+https://github.com/Deltares/Ribasim.git/#subdirectory=python/ribasim
                             git+https://github.com/Deltares/Ribasim.git/#subdirectory=python/ribasim_api
                             git+https://github.com/Deltares/Ribasim.git/#subdirectory=python/ribasim_testmodels"""

# Tests
test-primod = "pytest --junitxml=report.xml tests/test_primod"


[feature.common.dependencies]
python-build = "*"
pandera = "*"
pandas = ">=2"
geopandas = "*"
httpx = "*"
imod = ">=0.18.0"
ipython = "*"
jupyterlab = "*"
mypy = "*"
pytest = "*"
pytest-cases = "*"
pytest-dotenv = "*"
pytest-xdist = "*"
ruff = "*"
tqdm = "*"
twine = "*"

[feature.dev.tasks]
# Install
install-test-dependencies = { depends_on = [
    "install-metaswap-testmodels",
    "install-imod-collector",
    "install-imod-collector-regression",
    "generate-env-file",
] }

# Tests
test-imod-coupler = "pytest -v -s --numprocesses=auto --dist=loadgroup --basetemp=tests/temp --junitxml=report.xml tests/test_imod_coupler"
tests = { depends_on = ["test-primod", "test-imod-coupler"] }
# Lint
mypy-imodc = "mypy --ignore-missing-imports --strict imod_coupler"
mypy-primod = "mypy --ignore-missing-imports pre-processing/primod"
format = "ruff format ."
format-check = "ruff format --check ."
ruff = "ruff check ."
check-package-primod = { cmd = "rm --recursive --force dist && python -m build && twine check --strict dist/*", cwd = "pre-processing" }
lint = { depends_on = ["format", "ruff", "mypy-imodc", "mypy-primod"] }
# Publish primod
publish-primod = { cmd = "rm --recursive --force dist && python -m build && twine check dist/* && twine upload dist/*", cwd = "pre-processing" }


[feature.py312.dependencies]
python = "3.12.*"

[feature.py311.dependencies]
python = "3.11.*"

[feature.py310.dependencies]
python = "3.10.*"

[environments]
default = { features = ["py312"], solve-group = "py312" }
dev = { features = ["py312", "dev", "common"], solve-group = "py312" }
py312 = { features = ["py312", "common"], solve-group = "py312" }
py311 = ["py311", "common"]
py310 = ["py310", "common"]
