[workspace]
name = "imod_coupler"
version = "0.1.0"
channels = ["conda-forge"]
platforms = ["win-64", "linux-64"]

[system-requirements]
linux = "4.4.0"

[tasks]
# Build
build-imod-coupler = "rm -rf dist && pyinstaller imod_coupler/__main__.py --name imodc"

[dependencies]
geopandas = ">=1.0.0"
netCDF4 = "*"
loguru = "*"
numpy = ">=2.0"
pydantic = ">=2.11.0"
python = ">=3.10"
xarray = ">=2025.8.0"
scipy = "*"
tomli = "*"
tomli-w = "*"
xmipy = "*"
imod = "=1.0.0.post1"
ribasim = "=2025.6.0"

[pypi-dependencies]
ribasim_testmodels = { git = "https://github.com/Deltares/Ribasim.git", tag = "v2025.6.0", subdirectory = "python/ribasim_testmodels" }
imod_coupler = { path = ".", editable = true }
primod = { path = "pre-processing", editable = true }
pyinstaller = "*" # Use pypi version instead of condforge due to issues with the AV

[feature.common.tasks]
# Install
install-metaswap-testmodels = "svn checkout https://repos.deltares.nl/repos/DSCTestbench/trunk/cases/e150_metaswap/f00_common/c00_common/LHM2016_v01vrz .imod_collector/e150_metaswap"
install-imod-collector = "python scripts/download_imod_collector.py"
install-imod-collector-regression = "python scripts/download_imod_collector.py regression"
generate-env-file = "python scripts/generate_env_file.py"

# Tests
test-primod = "pytest --junitxml=report.xml tests/test_primod"

[feature.common.dependencies]
python-build = "*"
httpx = "*"
ipython = "*"
jupyterlab = "*"
mypy = "*"
pytest = "*"
pytest-cases = "*"
pytest-dotenv = "*"
pytest-xdist = "*"
ruff = "*"
tqdm = "*"
twine = "*"


[feature.dev.pypi-dependencies]
mypy2junit = "*"

[feature.dev.tasks]
# Install
install-test-dependencies = { depends-on = [
    "install-metaswap-testmodels",
    "install-imod-collector",
    "install-imod-collector-regression",
    "generate-env-file",
] }

test-imod-coupler = "pytest -vvv -s --numprocesses=auto --dist=loadgroup --basetemp=tests/temp --junitxml=report.xml tests/test_imod_coupler"
tests = { depends-on = ["test-primod", "test-imod-coupler"] }
# Lint
mypy-imodc = "mypy --ignore-missing-imports --strict imod_coupler"
mypy-imodc-report = "mypy --ignore-missing-imports --strict imod_coupler | mypy2junit > mypy-imodc-report.xml"
mypy-primod = "mypy --ignore-missing-imports pre-processing/primod"
mypy-primod-report = "mypy --ignore-missing-imports pre-processing/primod | mypy2junit > mypy-primod-report.xml"
format = "ruff format ."
format-check = "ruff format --check ."
ruff = "ruff check ."
check-package-primod = { cmd = "rm --recursive --force dist && python -m build && twine check --strict dist/*", cwd = "pre-processing" }
lint = { depends-on = ["format", "ruff", "mypy-imodc", "mypy-primod"] }
# Publish primod
publish-primod = { cmd = "rm --recursive --force dist && python -m build && twine check dist/* && twine upload dist/*", cwd = "pre-processing" }

[feature.pixi-update.dependencies]
pip = "*"
pixi-diff-to-markdown = "*"
gh = "*"

[feature.pixi-update.tasks]
update = "pixi update --json | pixi-diff-to-markdown > diff.md"

[feature.user-acceptance.dependencies]
dvc = "*"
dvc-s3 = "*"
rioxarray = "*"

[feature.user-acceptance.tasks]
pull_data = "dvc pull --remote minio"
fetch_lhm = {cmd = "tar -xf LHM2018_v02vae_BOFEK2020.zip && tar -xf LHM_transient.zip", depends-on = ["pull_data"], cwd = "tests/data/user_acceptance"}
user_acceptance_test = { cmd = [
    "pytest",
    "-m", "user_acceptance",
    "--cache-clear",
    "--verbose",
    "--junitxml=user_acceptance_report.xml",
], env = { USER_ACCEPTANCE_DIR = "tests/data/user_acceptance"} }
run_imod5 = {cmd = ["./prepare_mf6_transient_imod5.bat"], cwd = "tests/data/user_acceptance/LHM_transient/scripts_imod-5"}

[feature.py312.dependencies]
python = "3.12.*"

[environments]
default = { features = ["py312"], solve-group = "py312" }
dev = { features = ["py312", "dev", "common"], solve-group = "py312" }
py312 = { features = ["py312", "common"], solve-group = "py312" }
user-acceptance = { features = ["py312", "common", "user-acceptance"], solve-group = "py312" }
pixi-update = { features = ["pixi-update"], no-default-feature = true }
