name: Lint
on:
  push:
    branches: [main]
  pull_request:
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true
jobs:
  ruff:
    name: Ruff
    runs-on: ubuntu-latest
    continue-on-error: true
    steps:
      - uses: actions/checkout@v5
      - uses: prefix-dev/setup-pixi@v0.9.3
        with:
          pixi-version: "latest"
      - name: Run ruff format
        run: |
          pixi run format-check
      - name: Run ruff check
        run: |
          pixi run ruff

  mypy:
    name: Mypy
    runs-on: ubuntu-latest
    continue-on-error: true
    steps:
      - uses: actions/checkout@v5
      - uses: prefix-dev/setup-pixi@v0.9.3
        with:
          pixi-version: "latest"
      - name: Run mypy on imodc
        run: |
          pixi run mypy-imodc
      - name: Run mypy on primod
        run: |
          pixi run mypy-primod

  check_packages:
    name: Check packages
    runs-on: ubuntu-latest
    continue-on-error: true
    steps:
      - uses: actions/checkout@v5
      - uses: prefix-dev/setup-pixi@v0.9.3
        with:
          pixi-version: "latest"
      - name: Check packages
        run: |
          pixi run check-package-primod
